<h1>Artists<h1>
<ul>
<% @artists.each do |artist| %>
  <%= link_to artist.name, artist_path(artist) %> - <%= artist.song_count %> songs


    <li>
      <% artist.songs.each do |song| %>
        <%= link_to song.title, song_path(song) %>
      <% end %>
    </li>

<% end %>
  </ul>
